
.button {
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.2s ease;
  font-weight: 600;
}

.primary {
  
}

.secondary {
  
}

.download {
  padding: 1.25rem 2.5rem;
  background-color: #fbbf24;
  color: white;
  font-weight: 700;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
  font-size: 1.25rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin: 0;
  position: relative;
  z-index: 1;
}


@media (max-width: 640px) {
  .download {
  padding: 10px;
    font-size: 1rem;
  }
}


@media (min-width: 641px) and (max-width: 768px) {
  .download {
    padding: 10px;
    font-size: 1rem;
  }
}


@media (min-width: 769px) and (max-width: 1023px) {
  .download {
    padding: 1.25rem 2.5rem;
    font-size: 1.25rem;
  }
}


@media (min-width: 1024px) and (max-width: 1279px) {
  .download {
    padding: 1.375rem 2.75rem;
    font-size: 1.375rem;
  }
}


@media (min-width: 1280px) and (max-width: 1535px) {
  .download {
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
  }
}


@media (min-width: 1536px) and (max-width: 1919px) {
  .download {
    padding: 1.75rem 3.5rem;
    font-size: 1.75rem;
  }
}


@media (min-width: 1920px) and (max-width: 2559px) {
  .download {
    padding: 2rem 4rem;
    font-size: 2rem;
  }
}


@media (min-width: 2560px) {
  .download {
    padding: 2.5rem 5rem;
    font-size: 2.5rem;
  }
}

.download:hover {
  background-color: #f59e0b;
}

.outline {
  border: 2px solid #7c3aed;
  color: #7c3aed;
  background-color: transparent;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.outline:hover {
  background-color: #ede9fe;
}