.coreFeaturesSection {
  position: relative;
  width: 100%;
  padding: 2rem 0;
  background-color: #ffffff;
  overflow: hidden;
}

@media (min-width: 768px) {
  .coreFeaturesSection {
    padding: 5rem 0 5rem 0;
  }
}

@media (min-width: 1024px) {
  .coreFeaturesSection {
padding: 5rem 0 5rem 0;
  }
}

@media (min-width: 1280px) {
  .coreFeaturesSection {
    padding: 5rem 0 5rem 0;
  }
}

@media (min-width: 1536px) {
  .coreFeaturesSection {
           padding: 5rem 0 5rem 0;
  }
}



.container {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

@media (min-width: 640px) {
  .container {
    padding: 0 2rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 3rem;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0 4rem;
  }
}

.sectionTitle {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  color: #0D0468;
  margin-bottom: 3rem;
}

@media (min-width: 640px) {
  .sectionTitle {
    font-size: 2.25rem;
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 768px) {
  .sectionTitle {
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }
}

@media (min-width: 1024px) {
  .sectionTitle {
    font-size: 2.75rem;
    margin-bottom: 5rem;
  }
}


.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .contentWrapper {
    flex-direction: row;
    gap: 5rem;
  }
}

@media (min-width: 1280px) {
  .contentWrapper {
    gap: 10rem;
  }
}

/* Left Side - Image Section */
.imageSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.phoneContainer {
  position: relative;
  width: 280px;
  z-index: 2;
}

@media (min-width: 640px) {
  .phoneContainer {
    width: 320px;
  }
}

@media (min-width: 768px) {
  .phoneContainer {
    width: 350px;
  }
}

@media (min-width: 1024px) {
  .phoneContainer {
    width: 275px;
  }
}

@media (min-width: 1280px) {
  .phoneContainer {
    width: 400px;
        top: -35px;
  }
}

@media (min-width: 1536px) {
  .phoneContainer {
    width: 400px;
        top: -35px;
  }
}

.phoneImage {
  width: 100%;
  height: auto;
  filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.15));
}

.avatar {
  position: absolute;
  bottom: -5%;
  right: -25%;
  width: 140px;
  height: 140px;
  object-fit: contain;
  z-index: 3;
}

@media (min-width: 640px) {
  .avatar {
    width: 160px;
    height: 160px;
    right: -30%;
  }
}

@media (min-width: 768px) {
  .avatar {
    width: 300px;
    height: 300px;
    bottom: 2px;
    left: 200px;

  }
}

@media (min-width: 1024px) {
  .avatar {
    width: 250px;
    height: 250px;
    bottom: -2%;
    left: 55%;
  }
}

@media (min-width: 1280px) {
  .avatar {
            width: 400px;
        height: 400px;
        bottom: 5px;
        left: 215px;
  }
}

@media (min-width: 1536px) {
  .avatar {
     width: 400px;
        height: 400px;
        bottom: 5px;
        left: 215px;
  }
}


.featuresWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

@media (min-width: 768px) {
  .featuresWrapper {
    gap: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .featuresWrapper {
    min-width: 500px;
    max-width: 600px;
    gap: 0;
  }
}

@media (min-width: 1280px) {
  .featuresWrapper {
    min-width: 550px;
    max-width: 650px;
  }
}


.featureItem {
  display: flex;
  align-items:flex-start;
  
}

@media (min-width: 768px) {
  .featureItem {
    gap: 1.5rem;
  }
}


@media (min-width: 1024px) {
  /* Top feature - aligned to top right */
  .featureItem.top {
    margin-bottom: 4rem ;
    align-self: flex-start;
    max-width: 70%;
  }
  
  /* Middle-top feature - slightly indented */
  .featureItem.middleTop {
    margin-bottom: 4rem ;
    align-self: flex-end;
           max-width: 70%;
  }
  
  /* Middle-bottom feature - slightly indented */
  .featureItem.middleBottom {
    margin-bottom: 4rem ;
    align-self: flex-end;
    max-width: 70%;
  }
  
  /* Bottom feature - aligned to bottom right */
  .featureItem.bottom {
    align-self: flex-start;
    max-width: 70%;
   
  }
}

@media (min-width: 1280px) {
  .featureItem.top,
  .featureItem.bottom {
    margin: 50px;
    max-width: 88%;
  }
  
  .featureItem.middleTop,
  .featureItem.middleBottom {
    margin: 50px;
    max-width: 65%;
  }
}

.iconContainer {
  flex-shrink: 0;
  width: 110px;
  height: 110px;
  background: linear-gradient(135deg, #a78bfa 0%, #c084fc 100%);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(167, 139, 250, 0.3);
}

@media (min-width: 640px) {
  .iconContainer {
    width: 75px;
    height: 75px;
    border-radius: 15px;
  }
}

@media (min-width: 768px) {
  .iconContainer {
    width: 80px;
    height: 80px;
    border-radius: 16px;
  }
}

@media (min-width: 1024px) {
  .iconContainer {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 1280px) {
  .iconContainer {
            width: 90px;
        height: 90px;
  }
}

.featureIcon {
  object-fit: contain;
}




@media (min-width: 640px) {
    .iconProgressTracking {
        width: 200px;
        height: 200px;
        margin-top: 10px;
    }

    .iconSub-goals {
        width: 90px;
        height: 90px;
    }

    .iconCustomizableGoal {
        width: 80px;
        height: 80px;
    }

    .iconReminder {
        width: 150px;
        height: 150px;
    }
}


@media (min-width: 768px) {
    .iconProgressTracking {
        margin-top: 10px;
        width: 200px;
        height: 200px;
        
    }

    .iconSub-goals {
        width: 100px;
        height: 100px;
    }

    .iconCustomizableGoal {
        width: 80px;
        height: 80px;
    }

    .iconReminder {
        width: 180px;
        height: 180px;
    }
}


@media (min-width: 1024px) {
    .iconProgressTracking {
        width: 180px;
        height: 180px;
        padding-top: 5px;
    }

    .iconSub-goals {
        width: 100px;
        height: 100px;
        padding-bottom: 5px;
    }

    .iconCustomizableGoal {
        width: 80px;
        height: 80px;
        padding-bottom: 5px;
    }

    .iconReminder {
        width: 150px;
        height: 150px;
    }
}


@media (min-width: 1280px) {
    .iconProgressTracking {
        width: 250px;
        height: 250px;
        padding-top: 8px;
    }

    .iconSub-goals {
        width: 120px;
        height: 120px;
        padding-bottom: 8px;
    }

    .iconCustomizableGoal {
        width: 100px;
        height: 100px;
        padding-bottom: 8px;
    }

    .iconReminder {
        width: 180px;
        height: 180px;
    }
}


@media (min-width: 1536px) {
    .iconProgressTracking {
        width: 250px;
        height: 250px;
        padding-top: 10px;
    }

    .iconSub-goals {
        width: 120px;
        height: 120px;
        padding-bottom: 10px;
    }

    .iconCustomizableGoal {
        width: 100px;
        height: 100px;
        padding-bottom: 10px;
    }

    .iconReminder {
        width: 180px;
        height: 180px;
    }
}

.featureContent {
  flex: 1;
}


@media (max-width: 760px) {
  .featureContent {
   
    padding-left: 0.5rem;
  }
  
  .featureItem {
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
}

.featureTitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: #111827;
  margin-bottom: 0.5rem;

}

@media (min-width: 640px) {
  .featureTitle {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  .featureTitle {
    font-size: 1.375rem;
  }
}

@media (min-width: 1024px) {
  .featureTitle {
    font-size: 1.125rem;
  }
}

@media (min-width: 1280px) {
  .featureTitle {
    font-size: 1.5rem;
  }
}

.featureDescription {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
  color: #0D0468;
  margin: 0;
  
}

@media (min-width: 640px) {
  .featureDescription {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .featureDescription {
    font-size: 1.0625rem;
    line-height: 1.7;
  }
}

@media (min-width: 1024px) {
  .featureDescription {
    font-size: 0.9375rem;
  }
}

@media (min-width: 1280px) {
  .featureDescription {
    font-size: 1.25rem;
  }
}


@media (min-width: 375px) and (max-width: 480px) {
  
  .container {
    margin: 0 auto;
    padding: 0.75rem;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
  }

  .imageSection {
    display: none;
  }

  
  .contentWrapper {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  
  .featuresWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.75rem;
    width: 100%;
    max-width: 100%;
    justify-items: stretch;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  .featureItem {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 0.5rem;
    border-radius: 0.75rem;
    width: 100%;
    box-sizing: border-box;
    aspect-ratio: 4/3;
    min-height: 120px;
  }


  .featureItem.top,
  .featureItem.bottom {
    background: #C880FF;
    color: white;
  }

  
  .featureItem.middleTop,
  .featureItem.middleBottom {
    background: white;
    color: #111827;
  }


  .iconContainer {
    width: 60px;
    height: 60px;
    margin-bottom: 1rem;
    background: transparent;
    box-shadow: none;
  }

 




  .featureContent {
    flex: none;
  }

  .featureTitle {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    line-height: 1.2;
  }

 
  .featureItem.top .featureTitle,
  .featureItem.bottom .featureTitle {
        color: black;
        padding: 10px 0px;
        font-size: 15px;
        margin-top: -15px;
  }


  .featureItem.middleTop .featureTitle,
  .featureItem.middleBottom .featureTitle {
    color: black;
    font-size: 15px;
    margin-top: -5px;
  }

  
  .featureDescription {
    display: none;
  }


  .iconSub-goals,
  .iconCustomizableGoal{
    width: 100px;
    height: 100px;
    padding: 0;
  }
  .iconProgressTracking{
    width: 200px;
    height: 200px;
    padding: 0;
  }
  .iconReminder {
    width: 200px;
    height: 200px;
    padding: 0;
  }
}