.missionSection {
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 2rem;
  position: relative;
  padding: 0 1.5rem;
}

.titleContainer {
  position: relative;
}

.vectorBackground {
  position: relative;
  top: -2rem;
  right: -50rem;
  opacity: 0.6;
  z-index: 0;
}

.title {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 100%;
  color: #0D0468;
  margin-bottom: 1.5rem;
  position: relative;
  z-index: 10;
}

.description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.61;
  color: #0D0468;
}


@media (min-width: 375px) and (max-width: 480px) {
  .missionSection {
    text-align: left;
    margin-top: 1rem;
    padding: 0 1rem;
  }
  
  .title {
    font-size: 1.375rem;
    margin-bottom: 1.25rem;
  }
  
  .description {
    font-size: 1rem;
  }
  
  .vectorBackground {
    display: none;
  }
}


@media (min-width: 481px) and (max-width: 767px) {
  .title {
    font-size: 2rem;
  }
  
  .description {
    font-size: 1.125rem;
  }
  
  .vectorBackground {
    display: none;
  }
}


@media (min-width: 768px) and (max-width: 1023px) {
  .title {
    font-size: 2.25rem;
  }
  
  .description {
    font-size: 1.25rem;
  }
}


@media (min-width: 1024px) and (max-width: 1279px) {
  .title {
    font-size: 2.5rem;
  }
  
  .description {
    font-size: 1.375rem;
  }
}


@media (min-width: 1280px) and (max-width: 1535px) {
  .title {
    font-size: 2.75rem;
  }
  
  .description {
    font-size: 1.5rem;
  }
}

@media (min-width: 1536px) and (max-width: 1919px) {
  .title {
    font-size: 3rem;
  }
  
  .description {
    font-size: 1.625rem;
  }
}


@media (min-width: 1920px) {
  .title {
    font-size: 3.25rem;
  }
  
  .description {
    font-size: 1.875rem;
  }
}